@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap");

* {
  font-family: "Poppins";
}

:root {
  --white: rgb(227, 226, 226);
  --bg: #043443;
}

body {
  background-color: var(--bg);
  padding: 30px;
}

#topTabs{
  margin-top: 50px;
}

#formContainer #topTabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.description {
  display: none;
}

.tabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
  padding: 20px;
  color: var(--white);
}

.tabs h1 {
  margin: 0;
  font-size: 22px;
  height: 50px;
  text-align: center;
}

.tabs h4 {
  font-size: 17px;
}

.tabs p {
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.5px;
  height: 120px;
  margin-top: 50px;
}

.tabs button {
  margin-bottom: 30px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(127, 255, 212, 0.6);
  font-weight: 500;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.tabs button:hover{
    background-color: var(--white);
}

.tabs select {
  text-align: center;
  height: 30px;
  background-color: var(--white);
  border: none;
}

.basketTab {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: var(--white);
}

#container {
  width: 100%;
  border: 2px solid var(--white);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container h1{
    text-align: center;
  
}

#header{
  border-bottom: 1px solid var(--white);
    width: 100%;
}

#infos{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#infos div:first-of-type, #infos #paymentCardTab{
    width: 100%;
}


#paymentCardTab h4{
 
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--white);
    padding: 10px 0;
}

#months, #years{
  width: 90px;
  color: black;
}


select, option{
  color: black;
}

#paymentCardTab #cardType{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--white);
    padding: 10px 0;
}

#mastercardCont,
#visacardCont{
    display: flex;
    padding: 0 100px;
}

#cardInfos table {
  border-collapse: collapse;
  width: 100%;
}

  #cardInfos table tr{
  border-bottom: 1px solid var(--white);
  margin: 20px 0;
}

#cardInfos table tr{
  display: flex;
  align-items: center;
}

#userCardNameCont{
  padding-bottom: 20px;
}

#userCardName{
    display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

#userCardName input{
  width: 110px;
  font-size: 12px;
}

#cardInfos table th{
  width: 150px;
   text-align: right;
   font-size: 13px;
   margin-right: 15px;
}

#expiryDateCont{
  padding-bottom: 5px;
}

#cvvCont{
  padding-bottom: 15px;
}

#totalCont table{
  border-collapse: collapse;
  width: 100%;
}

#totalCont table tr{
  border-bottom: 1px solid var(--white);
}

#totalCont table td{
  padding: 10px 0;
}

  #totalCont table .rightAlign{
    text-align: right;
  padding-right: 20px;

}

#buttons{
  display: flex;
  justify-content: right;
  margin-right: 20px;
  padding-top: 20px;
}

#buttons button{
  padding: 10px 30px;
  cursor: pointer;
  background-color: rgb(127, 255, 212, 0.6);
  color: black;
  border: none;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

 #formContainer button,
 #formContainer input{
  color: black;
}

#buttons button:hover{
  background-color: var(--white);
}

#buttons button:last-of-type{
  margin-left: 20px;

}

.notification{
  position: fixed;
  top: 10%;
  text-align: center;
  left: -300px;
  background-color: rgb(45, 137, 108);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 0;
  color: white;
  width: 300px;
  transition: ease-in-out 0.5s;
  letter-spacing: 0.6px;
  font-size: 20px;
}

.notification.active{
  left: 0;
}

@media (max-width: 1200px){
  #formContainer #topTabs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

}
  @media (max-width: 1000px){


  #infos div:first-of-type, #infos #paymentCardTab{
    width: 100%;
}

#totalCont table{
  border-collapse: collapse;
  width: 100%;
}

#cardInfos table {
  border-collapse: collapse;
  width: 100%;
}
}

@media (max-width: 1000px){
  #formContainer #topTabs {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
  @media (max-width: 600px){
  #userCardName{
    display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

#formContainer #topTabs {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
}

@media (max-width: 550px){
  #formContainer #topTabs {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  #userCardName{
    display: flex;
  align-items: center;
  flex-wrap: unset;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

#cvvCont input{
  width: 70px;
}

.cardType{
}

#mastercardCont,
#visacardCont{
    display: flex;
    padding: unset;
    margin: 0 30px;
}

.addToBasket{
  width: 90%;
  text-align: center;
}

body {
  background-color: var(--bg);
  padding: 30px 5px;
}

#spaceTab{
  display: none;
}

#userCardName input{
  width: 180px;
  font-size: 12px;
}

}