@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins";
  overflow: hidden;
}

:root{
  --white: rgb(227, 226, 226);
}

body {
  background-color: #043443;
  /* background-color: #02202a; */
}

.navbar {
  background-color: #043443;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  width: 400px;
  display: flex;
  margin-right: 50px;
  justify-content: space-between;
}

.navbar li {
  list-style: none;
  color: var(--white);
  font-weight: 400;
  /* font-style: italic; */
}

#navigation {
  color: var(--white);
  font-size: 25px;
  display: none;
}

#logo {
  width: 130px;
  height: 130px;
  background-color: #043443;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  /* color: var(--white); */
  /* color: #c37302; */
  z-index: 12;
}

#logo span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.videoSection {
  position: absolute;
  width: 50vw;
  top: 0;
  left: 0;
  display: flex;
  margin: 0;
  padding: 0;
}

.videoSection img {
  display: none;
}

video {
  width: 40vw;
  height: 100vh;
  object-fit: cover;
  border-right: 1px solid rgb(238, 238, 238, 0.4);
  margin: 0;
  padding: 0;
  z-index: 10;
}

#border {
  /* position: absolute; */
  background-color: #043443;
  color: var(--white);
  height: 100vh;
  width: 10vw;
  /* right: -20%; */
  border-right: 1px solid rgb(238, 238, 238, 0.4);
  /* z-index: 14; */
  display: flex;
  flex-direction: column;
  position: relative;
  /* max-width: 900px; */
  /* justify-content: center; */
  align-items: center;
}

#border p {
  position: absolute;
  bottom: 50px;
  transform: rotate(270deg);
}

#border i {
  margin-top: 50px;
  text-align: center;
}

.info {
  position: absolute;
  width: 50vw;
  height: 100%;
  right: 0;
  /* bottom: 40%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  /* color: var(--white); */
}

.info h1 {
  font-size: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 200;
}

.info p {
  /* color: #4A4A4A; */
  margin-top: -30px;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.info button {
  padding: 10px 40px;
  background-color: rgb(202, 21, 139);
  border: none;
  color: rgb(211, 226, 159);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.info button:hover {
  background-color: white;
  border: 2px solid #429205;
  color: rgb(202, 21, 139);
}

.menu{
  display: block;
}


@media (max-width: 900px) {
  body {
    background-color: rgb(4, 52, 67);
  }

  #border {
    display: none;
  }

  .videoSection {
    width: 100%;
    height: 49.5%;
    position: absolute;
    top: unset;
    bottom: 0;
  }

  .videoSection img {
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  video {
    width: 100%;
    display: none;
  }

  .navbar {
    z-index: 10;
  }

  #navigation {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .info {
    width: 100%;
    height: 49.5%;
    justify-content: unset;
    background-color: #043443;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .info h1 {
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 200;
    margin-top: 80px;
  }

  /*  */

  .menu {
    display: block;
    background-color: rgb(4, 52, 67);
    position: fixed;
    z-index: 1000;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: ease-in-out 0.5s;
    padding: 0 50px;
    margin: 0;
    z-index: 30;
  }

  #bars {
    display: block;
    cursor: pointer;
  }

  #navigation #bicycle {
    display: none;
  }

  .menu.active {
    /* display: block; */
    transform: translateX(0);
  }

  .menu .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 50px; */
  }

  .menu .xMark {
    font-size: 30px;
    color: var(--white);
    transform: translateY(24px);
    /* margin-right: 15px; */
    cursor: pointer;
  }

  .menu #logoTab {
    position: relative;
    margin-top: 50px;
    
    /* left: -35px; */
  }

  .menu #tool {
    position: absolute;
    /* transform: translateY(-58px); */
    color: var(--white);
    z-index: 800;
    top: -15px;
  }

  .menu #conference-name {
    color: var(--white);
    font-size: 25px;
    z-index: 400;
  }

  .linkTag{
    text-decoration: none;
    color: var(--white);
  }

  .menu li {
    font-weight: bold;
    color: var(--white);
    margin-top: 50px;
    letter-spacing: 0.5px;
    width: 230px;
    position: relative;
    cursor: pointer;
    transition: ease-in 0.5s;
  }

  .menu li:hover {
    color: rgb(177, 142, 67);
  }

  .menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-top: 50px;
    padding-inline-start: 0px;
  }

  .menu .callNow {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .menu .callNow .number {
    margin: 0 10px;
    color: var(--white);
  }

  .menu .number p:last-of-type {
    color: var(--white);
    transition: ease-in-out 0.5s;
  }
}

@media (max-width: 450px) {
  .info p {
    font-size: 13px;
  }
}
