@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #043443;
  /* background-color: #02202a; */
}

.navbar {
  background-color: #043443;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  width: 400px;
  display: flex;
  margin-right: 50px;
  justify-content: space-between;
}

.navbar li {
  list-style: none;
  color: rgb(226, 222, 222);
  /* color: rgb(211, 226, 159); */
  font-weight: 400;
  /* color: white; */
}

#logo {
  width: 130px;
  height: 100px;
  background-color: #043443;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  color: #c37302;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  z-index: 12;
}

#logo i {
  font-size: 19px;
  position: relative;
  top: 20px;
}

#logo span {
  font-size: 14px;
  position: relative;
  bottom: 13px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.videoSection {
  position: absolute;
  width: 50vw;
  top: 0;
  left: 0;
  display: flex;
  margin: 0;
  padding: 0;
}

video {
  /* position: absolute; */
  width: 40vw;
  height: 100vh;
  object-fit: cover;
  border-right: 1px solid rgb(238, 238, 238, 0.4);
  margin: 0;
  padding: 0;
  z-index: 10;
}

#border {
  /* position: absolute; */
  background-color: #043443;
  color: rgb(226, 222, 222);
  height: 100vh;
  width: 10vw;
  /* right: -20%; */
  border-right: 1px solid rgb(238, 238, 238, 0.4);
  /* z-index: 14; */
  display: flex;
  flex-direction: column;
  position: relative;
  /* max-width: 900px; */
  /* justify-content: center; */
  align-items: center;
}

#border p {
  position: absolute;
  bottom: 50px;
  transform: rotate(270deg);
}

#border i {
  margin-top: 50px;
  text-align: center;
}

.info {
  position: absolute;
  width: 50vw;
  height: 100%;
  right: 0;
  /* bottom: 40%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(226, 222, 222);
}

.info h1 {
  font-size: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 200;
}

.info p {
  /* color: #4A4A4A; */
  margin-top: -30px;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.info button {
  padding: 10px 40px;
  background-color: rgb(202, 21, 139);
  border: none;
  color: rgb(211, 226, 159);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.info button:hover {
  background-color: white;
  border: 2px solid #429205;
  color: rgb(202, 21, 139);
}


